body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.wrap {
    margin: 0 auto;
    max-width: 1140px;
}

.header {
    background: #000;
    height: 74px;
    padding: 18px 16px;
    box-sizing: border-box;
    align-items: center;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__col-1 {
        color: #fff;
        align-items: center;
    }
}

.card {
    background: #f8f8f8;
    width: 360px;
    margin: 18px 18px;
    display: flex;
    
    img {
        width: 360px;
        display: block;
    }

    &__photo {
        position: relative;
    }

    &__text {
        padding: 16px 25px 29px 20px;
    }

    &__text-title {
        font-size: 13px;
        line-height: 16px;
        color: #000;
    }

    &__text-descripton {
        font-size: 14px;
        line-height: 17px;
        color: #5d5d5d;
        padding: 13px 0px 18px;
    }

    &__text-price {
        font-size: 16px;
        line-height: 19px;
        color: #f16d7f;
    }
}
