@charset "UTF-8";
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.wrap {
  margin: 0 auto;
  max-width: 1140px;
}

.header {
  background-color: #222;
  height: 74px;
  padding: 18px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  text-decoration: none;
  color: transparent;
  padding-left: 16px;
  padding-right: 16px;
}

.header__button {
  background-color: transparent;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
}

.header__link_disabled {
  display: none;
}

@media (min-width: 768px) {
  .header__link_disabled {
    display: inline;
  }
}

.header__badge {
  position: relative;
}

.header__badge span {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background-color: #f16d7f;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: -20px;
}

.registration {
  margin: 0 33px;
}

/* PROMO */
.promo {
  background-color: #f1e4e6;
}

.promo__content {
  min-height: 368px;
}

@media (min-width: 768px) {
  .promo__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .promo__content > div {
    width: 50%;
  }
}

.promo__content-left {
  display: none;
}

.promo__content-left img {
  width: 100%;
  display: block;
}

@media (min-width: 768px) {
  .promo__content-left {
    display: block;
  }
}

.promo__content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: inherit;
}

.promo__title {
  border-left: 12px solid #f16d7f;
  padding-left: 15px;
  height: 61px;
}

.promo__title-str-1 {
  font-size: 38px;
  font-weight: 900;
  line-height: 36px;
}

.promo__title-str-2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.promo__title_coloraccent {
  color: #f16d7f;
}

/* CATEGORY */
.category__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (247px)[3] 111px;
      grid-template-rows: repeat(3, 247px) 111px;
  row-gap: 32px;
  padding: 64px 16px;
}

@media (min-width: 768px) {
  .category__content {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 167px 116px;
        grid-template-rows: 167px 116px;
    gap: 20px;
  }
}

.category__content > div {
  position: relative;
}

.category__title {
  position: relative;
  z-index: 1;
  color: #fff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.category img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.category__title-str2 {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: 700;
  color: #f16d7f;
}

@media (min-width: 768px) {
  .category__accesories {
    grid-column: 1/-1;
  }
}

/* PRODUCTS */
.products {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 96px;
}

@media (min-width: 768px) {
  .products {
    margin-bottom: 64px;
  }
}

.products__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 16px;
}

@media (min-width: 768px) {
  .products__card {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 18px;
    -webkit-column-gap: 16px;
            column-gap: 16px;
  }
}

@media (min-width: 1140px) {
  .products__card {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.products__title-str1 {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.products__title-str2 {
  text-align: center;
  color: #9f9f9f;
  margin-bottom: 64px;
}

.products__more-products_button {
  border: 1px solid #ff6a6a;
  margin-top: 40px;
  padding: 15px 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: none;
  color: #f26376;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
}

.products__more-products_button:hover {
  color: white;
  background: #ff6a6a;
}

/* CARD */
.card {
  background: #f8f8f8;
}

.card img {
  width: 100%;
  display: block;
}

.card__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(58, 56, 56, 0.86);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__hover button {
  background: none;
  border: 1px solid white;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 14px;
  font-size: 14px;
  font-family: inherit;
}

.card__hover button img {
  width: 26px;
  height: 24px;
  margin-right: 11px;
}

.card__photo {
  position: relative;
}

.card__text {
  padding: 16px 25px 29px 20px;
}

.card__text-title {
  font-size: 13px;
  line-height: 16px;
  color: #000;
}

.card__text-descripton {
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  padding: 13px 0px 18px;
}

.card__text-price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.card:hover .card__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* CATALOG */
.newArrivals__content {
  background-color: #f8f3f8;
  height: 148px;
}

.newArrivals__content_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newArrivals__content_title h1 {
  color: #f16d7f;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.newArrivals__content_title nav {
  margin-bottom: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newArrivals__content_title nav a {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: #636363;
}

.newArrivals__content_title nav a:last-of-type {
  color: #f16d7f;
  font-weight: 700;
}

.newArrivals__content_title nav span {
  color: #636363;
  margin: 0 3px;
}

@media (min-width: 768px) {
  .newArrivals__content_title {
    padding-left: 16px;
    padding-right: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: inherit;
  }
  .newArrivals__content_title nav {
    height: inherit;
    margin-bottom: auto;
  }
}

.filter .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .filter {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 1140px) {
  .filter {
    margin-top: 51px;
    margin-bottom: 64px;
  }
}

.filter__left, .filter__left_filterIcon {
  position: relative;
}

.filter__left:hover, .filter__left_filterIcon:hover {
  color: #ef5b70;
}

.filter__left span {
  display: none;
  position: relative;
  z-index: 2;
  margin-left: 16px;
  margin-top: 13px;
}

.filter__left_extMenu {
  z-index: 1;
  top: 0;
  left: 0;
  padding: 46px 16px 16px 16px;
  position: absolute;
  width: 360px;
  height: 531px;
  color: #6f6e6e;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  background: #fff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter__left_extMenu_catTitle {
  height: 37px;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
  padding-left: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__left_extMenu_catTitle:first-of-type {
  color: #ef5b70;
  border-bottom: 1px solid #ef5b70;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
}

@media (min-width: 768px) {
  .filter__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .filter__left span {
    padding-right: 11px;
    font-size: 18px;
    line-height: 20px;
    display: inline;
  }
  .filter__left img {
    height: 12px;
  }
}

.filter__right {
  font-size: 16px;
  line-height: 20px;
  color: #6f6e6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.filter__right img {
  position: relative;
  bottom: 3px;
  padding-left: 3px;
}

@media (min-width: 768px) {
  .filter__right {
    font-size: 18px;
    gap: 24px;
  }
}

@media (min-width: 1140px) {
  .filter__right {
    font-size: 18px;
    gap: 24px;
    margin: auto;
  }
}

/* FEATURES */
.features {
  background-color: #222;
  padding-top: 48px;
  padding-bottom: 81px;
}

.features__content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
  width: 360px;
}

.features__content img {
  padding-bottom: 28px;
}

@media (min-width: 1140px) {
  .features__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1140px;
  }
}

.features__item_title, .features__item_description {
  color: #f8f8f8;
}

.features__item_title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 14px;
}

.features__item_description {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

@media (min-width: 1140px) {
  .features__card {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

/* SUBSCRIBE */
.subscribe {
  background-image: url(../img/subscribe.jpg);
  /* по стандартной схеме путь не работает о.О */
  background-size: cover;
  color: #222;
  padding-top: 64px;
  padding-bottom: 110px;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 1140px) {
  .subscribe {
    padding-top: 97px;
    padding-bottom: 126px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.subscribe__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.subscribe__content_left {
  width: 343px;
  padding-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__content_left img {
  padding-bottom: 30px;
}

.subscribe__content_right {
  width: 343px;
}

.subscribe__content_description {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}

.subscribe__content_formTitle {
  font-size: 24px;
  font-weight: bold;
  line-height: 37px;
}

.subscribe__content_formDescription {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 22px;
}

@media (min-width: 1140px) {
  .subscribe__content {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.subscribe__form {
  height: 47px;
}

.subscribe__form input {
  height: inherit;
  width: 247px;
  border: none;
  background: #e1e1e1;
  padding: 21px 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px 0 0 30px;
  float: left;
}

.subscribe__form input ::-webkit-input-placeholder {
  color: #222;
  opacity: 0.67;
  padding-left: 21px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.subscribe__form input :-ms-input-placeholder {
  color: #222;
  opacity: 0.67;
  padding-left: 21px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.subscribe__form input ::-ms-input-placeholder {
  color: #222;
  opacity: 0.67;
  padding-left: 21px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.subscribe__form input ::placeholder {
  color: #222;
  opacity: 0.67;
  padding-left: 21px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.subscribe__form button {
  height: inherit;
  width: 96px;
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  background: #f16d7f;
  border-radius: 0 30px 30px 0;
}

footer {
  color: #fff;
  background-color: #222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content a {
  color: #000;
  background-color: #fff;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.footer__content a:hover {
  color: white;
  background: #f16d7f;
}

.footer__content_left p {
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.footer__content_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  padding-top: 42px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* CART */
.shoppingCart__content_title {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  background-color: #f8f3f4;
}

.reg-form-wrap {
  height: 1000px;
  background: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
  color: #bbb;
}
/*# sourceMappingURL=style.css.map */