body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.wrap {
    margin: 0 auto;
    max-width: 1140px;
}

.header {
    background-color: #222;
    height: 74px;
    padding: 18px 16px;
    box-sizing: border-box;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__col-1 {
        display: flex;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        color: transparent;
        padding-left: 16px;
        padding-right: 16px;
    }

    &__button {
        background-color: transparent;
        border: none;
        padding-left: 16px;
        padding-right: 16px;
    }

    &__link_disabled {
        display: none;

        @media (min-width: 768px) {
            display: inline;
        }
    }

    &__badge {
        position: relative;

        span {
            display: inline-block;
            width: 20px;
            height: 20px;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #fff;
            background-color: #f16d7f;
            border-radius: 50%;
            position: absolute;
            right: -10px;
            top: -20px;
        }
    }
}

.registration {
    margin: 0 33px;
}

/* PROMO */
.promo {
    background-color: #f1e4e6;

    &__content {
        min-height: 368px;

        @media (min-width: 768px) {
            display: flex;

            > div {
                width: 50%;
            }
        }
    }

    &__content-left {
        display: none;

        img {
            width: 100%;
            display: block;
        }

        @media (min-width: 768px) {
            display: block;
        }
    }

    &__content-right {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: inherit;
    }

    &__title {
        border-left: 12px solid #f16d7f;
        padding-left: 15px;
        height: 61px;
    }

    &__title-str-1 {
        font-size: 38px;
        font-weight: 900;
        line-height: 36px;
    }

    &__title-str-2 {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
    }

    &__title_coloraccent {
        color: #f16d7f;
    }
}

/* CATEGORY */
.category {
    &__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 247px) 111px;
        row-gap: 32px;
        padding: 64px 16px;

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 167px 116px;
            gap: 20px;
        }
        > div {
            position: relative;
        }
    }

    &__title {
        position: relative;
        z-index: 1;
        color: #fff;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__title-str2 {
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        font-weight: 700;
        color: #f16d7f;
    }

    &__accesories {
        @media (min-width: 768px) {
            grid-column: 1/-1;
        }
    }
}

/* PRODUCTS */
.products {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 96px;

    @media (min-width: 768px) {
        margin-bottom: 64px;
    }

    &__card {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 16px;

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            row-gap: 18px;
            column-gap: 16px;
        }

        @media (min-width: 1140px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }
    }

    &__title-str1 {
        text-align: center;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
    }

    &__title-str2 {
        text-align: center;
        color: #9f9f9f;
        margin-bottom: 64px;
    }

    &__more-products_button {
        border: 1px solid #ff6a6a;
        margin-top: 40px;
        padding: 15px 40px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        background: none;
        color: #f26376;
        font-family: inherit;
        font-size: 16px;
        line-height: 19px;
    }

    &__more-products_button:hover {
        color: white;
        background: #ff6a6a;
    }
}

/* CARD */
.card {
    background: #f8f8f8;

    img {
        width: 100%;
        display: block;
    }

    &__hover {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(58, 56, 56, 0.86);
        display: none;
        justify-content: center;
        align-items: center;

        button {
            background: none;
            border: 1px solid white;
            color: white;
            display: flex;
            align-items: center;
            padding: 10px 14px;
            font-size: 14px;
            font-family: inherit;

            img {
                width: 26px;
                height: 24px;
                margin-right: 11px;
            }
        }
    }

    &__photo {
        position: relative;
    }

    &__text {
        padding: 16px 25px 29px 20px;
    }

    &__text-title {
        font-size: 13px;
        line-height: 16px;
        color: #000;
    }

    &__text-descripton {
        font-size: 14px;
        line-height: 17px;
        color: #5d5d5d;
        padding: 13px 0px 18px;
    }

    &__text-price {
        font-size: 16px;
        line-height: 19px;
        color: #f16d7f;
    }

    &:hover &__hover {
        display: flex;
    }
}

/* CATALOG */
.newArrivals {
    &__content {
        background-color: #f8f3f8;
        height: 148px;

        &_title {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                color: #f16d7f;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                margin-top: 24px;
                margin-bottom: 32px;
            }

            nav {
                margin-bottom: 46px;
                display: flex;
                align-items: center;

                a {
                    text-decoration: none;
                    font-size: 16px;
                    line-height: 18px;
                    color: #636363;

                    &:last-of-type {
                        color: #f16d7f;
                        font-weight: 700;
                    }
                }

                span {
                    color: #636363;
                    margin: 0 3px;
                }
            }

            @media (min-width: 768px) {
                padding-left: 16px;
                padding-right: 16px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: inherit;

                nav {
                    height: inherit;
                    margin-bottom: auto;
                }
            }
        }
    }
}

.filter {
    .wrap {
        display: flex;
        margin-top: 24px;
        margin-bottom: 32px;
        justify-content: space-between;
        align-items: center;
    }

    @media (min-width: 768px) {
        padding-left: 16px;
        padding-right: 16px;
    }

    @media (min-width: 1140px) {
        margin-top: 51px;
        margin-bottom: 64px;
    }

    &__left,
    &__left_filterIcon {
        position: relative;

        &:hover {
            color: #ef5b70;
        }
    }

    &__left {
        span {
            display: none;
            position: relative;
            z-index: 2;
            margin-left: 16px;
            margin-top: 13px;
        }

        &_extMenu {
            z-index: 1;
            top: 0;
            left: 0;
            padding: 46px 16px 16px 16px;
            position: absolute;
            width: 360px;
            height: 531px;
            color: #6f6e6e;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 17px;
            background: #fff;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

            &_catTitle {
                height: 37px;
                border-left: 5px solid #ef5b70;
                border-bottom: 1px solid #ebebeb;
                padding-left: 11px;
                display: flex;
                align-items: center;

                &:first-of-type {
                    color: #ef5b70;
                    border-bottom: 1px solid #ef5b70;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 17px;
                }
            }
        }
        @media (min-width: 768px) {
            display: flex;
            align-items: center;

            span {
                padding-right: 11px;
                font-size: 18px;
                line-height: 20px;
                display: inline;
            }

            img {
                height: 12px;
            }
        }
    }

    &__right {
        font-size: 16px;
        line-height: 20px;
        color: #6f6e6e;
        display: flex;
        gap: 16px;

        img {
            position: relative;
            bottom: 3px;
            padding-left: 3px;
        }

        @media (min-width: 768px) {
            font-size: 18px;
            gap: 24px;
        }

        @media (min-width: 1140px) {
            font-size: 18px;
            gap: 24px;
            margin: auto;
        }
    }
}

/* FEATURES */
.features {
    background-color: #222;
    padding-top: 48px;
    padding-bottom: 81px;

    &__content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        width: 360px;

        img {
            padding-bottom: 28px;
        }

        @media (min-width: 1140px) {
            flex-direction: row;
            width: 1140px;
        }
    }

    &__item_title,
    &__item_description {
        color: #f8f8f8;
    }

    &__item_title {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 14px;
    }

    &__item_description {
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
    }

    &__card {
        @media (min-width: 1140px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }
    }
}

/* SUBSCRIBE */
.subscribe {
    background-image: url(../img/subscribe.jpg);
    /* по стандартной схеме путь не работает о.О */
    background-size: cover;
    color: #222;
    padding-top: 64px;
    padding-bottom: 110px;
    padding-left: 16px;
    padding-right: 16px;

    @media (min-width: 1140px) {
        padding-top: 97px;
        padding-bottom: 126px;
        padding-left: 20px;
        padding-right: 20px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &_left {
            width: 343px;
            padding-bottom: 65px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                padding-bottom: 30px;
            }
        }

        &_right {
            width: 343px;
        }

        &_description {
            text-align: center;
            font-size: 18px;
            line-height: 22px;
        }

        &_formTitle {
            font-size: 24px;
            font-weight: bold;
            line-height: 37px;
        }

        &_formDescription {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            padding-bottom: 22px;
        }

        @media (min-width: 1140px) {
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__form {
        height: 47px;

        input {
            height: inherit;
            width: 247px;
            border: none;
            background: #e1e1e1;
            padding: 21px 6px;
            box-sizing: border-box;
            border-radius: 30px 0 0 30px;
            float: left;

            ::placeholder {
                color: #222;
                opacity: 0.67;
                padding-left: 21px;
                font-family: "Lato", sans-serif;
                font-size: 14px;
                line-height: 17px;
                font-weight: 400;
            }
        }

        button {
            height: inherit;
            width: 96px;
            border: none;
            color: #fff;
            font-family: inherit;
            font-size: 14px;
            line-height: 17px;
            background: #f16d7f;
            border-radius: 0 30px 30px 0;
        }
    }
}

footer {
    color: #fff;
    background-color: #222;
    box-sizing: border-box;
}

.footer {
    &__content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        a {
            color: #000;
            background-color: #fff;
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;

            &:hover {
                color: white;
                background: #f16d7f;
            }
        }

        &_left {
            p {
                color: #fbfbfb;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
            }
        }

        &_right {
            display: flex;
            gap: 8px;
            padding-top: 42px;
            padding-bottom: 40px;
        }

        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 32px;
            padding-right: 32px;
        }
    }
}

/* CART */
.shoppingCart {
    &__content_title {
        height: 148px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        line-height: 29px;
        color: #f16d7f;
        background-color: #f8f3f4;
    }
}

.reg-form-wrap {
    height: 1000px;
    background: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #bbb;
}
